img {
    height: 500px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}
body {
    height: 92vh;
    background-color: antiquewhite;
}

h1 {
    margin-left: 70px;
    margin-bottom: 0;
}