/* Color Theme Swatches in Hex
    #049DD9
    #049DD9
    #012E40
    #011C26
    #049DBF  */

body {
    font-family: 'Inter', sans-serif;
    background-color: burlywood;
}

main {
    background-color: white;
}